{:paths ["src" "resources" "classes"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/data.csv {:mvn/version "1.0.0"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.json {:mvn/version "1.1.0"}
  org.clojure/tools.cli {:mvn/version "1.0.214"}
  org.clojure/tools.reader {:mvn/version "1.3.4"}
  org.babashka/sci {:mvn/version "0.3.2"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
  clj-commons/clj-yaml {:mvn/version "1.0.26"}
  clojure-msgpack/clojure-msgpack {:mvn/version "1.2.1"}
  com.rpl/specter {:mvn/version "1.1.3"}
  com.cognitect/transit-clj {:mvn/version "1.0.324"}
  medley/medley {:mvn/version "1.3.0"}
  mvxcvi/puget {:mvn/version "1.3.1"}
  tolitius/xml-in {:mvn/version "0.1.1"}
  org.clj-commons/hickory {:mvn/version "0.7.3"}
  org.jsoup/jsoup {:mvn/version "1.14.3"}}
 :aliases
 {:run
  {:main-opts ["-m" "cq.main"]}
  :dev
  {:extra-paths ["test" "test/resources"]}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps
   {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                               :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :kaocha
  {:extra-paths ["test" "test/resources"]
   :main-opts ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.829"}
    lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}}}
