name: CI / CD

on: [push]

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Install Clojure Tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.3.1577

      - name: Install Snyk
        uses: snyk/actions/setup@master

      - name: Generate pom.xml
        shell: bash
        run: clojure -Spom

      - name: Run Snyk to check for vulnerabilities
        run: snyk monitor
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Run FOSSA to scan licenses
        uses: fossa-contrib/fossa-action@v1
        with:
          fossa-api-key: ${{ secrets.FOSSA_API_KEY }}

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Install Clojure Tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.3.1577

      - name: Test Linux & OSX
        if: ${{ matrix.os != 'windows-latest' }}
        shell: bash
        run: clojure -M:kaocha --plugin cloverage --codecov

      - name: Test Windows
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: clojure -M:kaocha --plugin cloverage --codecov

      - uses: codecov/codecov-action@v5
        with:
          files: target/coverage/codecov.json
          flags: ${{ matrix.os }}

      - name: Build JAR
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: package/package.sh

      - name: Upload JAR Artifacts
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v5
        with:
          name: cq-jvm
          path: target/cq*

  native:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        gu-binary: [gu, gu.cmd]
        exclude:
          - os: ubuntu-latest
            gu-binary: gu.cmd
          - os: macos-latest
            gu-binary: gu.cmd
          - os: windows-latest
            gu-binary: gu

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          name: cq-jvm
          path: target

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install MSVC Toolset (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        run: |
          ./package/build-native.sh
          mv target/cq target/cq-native-linux

      - name: Build OSX
        if: ${{ matrix.os == 'macos-latest' }}
        shell: bash
        run: |
          ./package/build-native.sh
          mv target/cq target/cq-native-macos

      - name: Build Windows
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: |
          package\build-native.bat
          mv target\cq.exe target\cq-native-windows.exe

      - name: Upload Native Image Artifact
        uses: actions/upload-artifact@v5
        with:
          name: cq-${{ matrix.os }}
          path: target/cq-native-*

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: native
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: cq-*
          path: target
          merge-multiple: true

      - name: Rename cq-jvm to -SLOW
        shell: bash
        run: |
          mv target/cq-jvm target/cq-jvm-slow
          mv target/cq-jvm.exe target/cq-jvm-slow.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./target/cq-jvm*
            ./target/cq-native*
            ./target/cq.jar
            LICENSE
            README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
